<div class="center">
<h1 class="text-secondary text-center mt-3 p-3 mb-3 pb-3">  Expended </h1>

</div>

<div class="bas">
<a href="<%= user_session_path %>" class='btn btn-primary bleu  w-75 mx-auto d-block'> Login </a>
<a href="<%= new_user_registration_path %>" class='btn btn-light  w-75 mx-auto d-block'> Sign up </a>
</div>
