<div class="center">
<h1 class="text-secondary text-center mt-3 p-3 mb-3 pb-3">  Expended </h1>

<a href="<%= user_session_path %>" class='btn btn-primary bleu mt-3 mb-3 w-25 mx-auto d-block'> Login </a><br>
<a href="<%= new_user_registration_path %>" class='btn btn-primary bleu mt-3 mb-3 w-25 mx-auto d-block'> Sign up </a>
</div>
